*{
    margin: 0;
}
html{
    background: linear-gradient(#7164A5 , #BEA5C2 , #A0A8E6 , #BACBF0 );
    
}
a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-basis: auto;
    min-width: auto;
    min-height: 100vh;
    width: 100%; 
}

body.dark-mode {
	background: linear-gradient(#7B55B4 ,#87758b , #646391 , #717CA5);
	color: #e5e8e8;
}

header{
    background: linear-gradient(#8055B4 , #8C78D9);
    border-bottom: .1px solid #ab96ffab;
    box-shadow: 0 0 15px #bbadff;
    font-family:'El Messiri','Times New Roman';
    font-size: 25px;

    position: fixed;
    width: 100%;
}
header.dark-mode {
	background: #6E5899;
	color: #000401;
}


nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.logo{
    padding: 1px 0 .5px 20px;
}

.ul-nav{
    position: relative;
    color: #D6C2FF;
    text-shadow: 2px 3px 3px #301b55;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8rem;
}

button {
    display: flex;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
	border-radius: 40px;
    border: .1px solid #bbadff25;
    box-shadow: 0 0 15px #bbadff;
    font-family:'El Messiri','Times New Roman';
	font-size: 18px;
	color: #e5e8e8;
	transition: all 0.5s linear;
    cursor: pointer;
}
button.dark-mode {
	background-color: #e5e8e8;
	color: #3f4349;
    font-weight: bold;
}
button.dark-mode:hover {
	background-color: #646b74;
	color: #e5e8e8;
}

.btn-mod{
    background-color: #141124ab;
    font-size: 19px;
  	height: 30px;
	width: 130px;  
}
.btn-mod:hover {
	background-color: #000401;
}


aside, main{
    display: flex;
    flex-direction: column;
    color: #141124f1;
    margin: 70px 15px;
    padding: 3px;
    gap: 1rem;
}

aside{
    margin-top: 80px;
    background:#8F9FCD;
    font-family:'El Messiri','Times New Roman';
    font-size: 20px;
    border-right:3px solid #677292e0;
    border-bottom: 3px solid #677292e0;    
    border-radius: 3px;
    box-shadow: 0 0 25px #bbc7fa;
    flex-basis: 30%;
}
aside.dark-mode {
	background-color: #7F79AD;
    border-right:3px solid #514e6ee7;
    border-bottom: 3px solid #514e6ee7;
    border-radius: 3px ; 
    color: #edeaff;
}

h3{
    padding-left: 10px;
    text-decoration: underline .5px;
    text-shadow: 1px 1px 1px #9782fd9f;
}
.contacts{
    padding-left:20px;
}

.table{
    display: flex;
    flex-wrap: wrap;
}

.btn-aside{
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background:#aec2fd;
    padding: 5px 15px;
    height: 30px;
	width: 150x; 
    gap: 3px;
    color: #141124f8;
}
.btn-aside:hover {
	background-color: #bbcef7;
}

.ul-aside{
    list-style: none;
    padding-left: 15px;
}

main{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}
main.dark-mode{
    color: #edeaff;
}

.titulo{
    display: flex;
    font-family:'Lancelot','El Messiri','Times New Roman';
    text-shadow: 2px 3px 2px #9782fd;
    font-size: 70px;
    align-items: center;
    justify-content:flex-start;
    gap: 8rem;
}

.photo{
    align-items: center;
    border: .1px solid #cec4ff00;
    box-shadow: 0 0 30px #cec4ff;
    border-radius: 50%; 
    padding-bottom: .5px;
}

.about, .skills, .more {
    font-family:'El Messiri','Times New Roman';
    text-shadow: 1px 1px 1px #9782fd9f;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 0 25px #cec4ff;
    border: 2px dotted #b3d3da;
    border-radius: 3px;
    flex: 1;
}

.container-footer{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 20px;
    margin: auto;
    min-height: 10px;
    height: 40px;    
}

footer{
    background-color: #a0aad95b;
    color: #2e3657b2;
    font-family:'El Messiri','Times New Roman';
    font-size: 15px;
    flex: 1;
    display: flex;
}

footer.dark-mode {
	background-color: #7980a854;
	color: #000401;
}


/* mobile */
@media(max-width:992px){
    #menu{
      flex-direction: column;
      text-align: center;
      align-items: center;
      max-width: 90%;
      margin: 1% auto;
      width: 100%;
      margin-bottom: 20%;
    }

    
    .flex-container{
      text-align: center;
      justify-content: space-around
    }
  }